@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Home Page"];
}

<!--
<div class="text-center">
    <h1 class="display-4"> @Localizer["Welcome"]"</h1>
    <p> @Localizer["Learn about building Web apps with ASP.NET Core"]<a href="https://learn.microsoft.com/aspnet/core"></a>.</p>
    <a href="?culture=hi-IN">Hindi</a> | <a href="?culture=en-US">English</a> | <a href="?culture=ta-IN">Tamil</a>

</div>
-->

<div class="text-center">
    <h1 class="display-1">@Localizer["Welcome"]</h1>
    <p>@Localizer["Learn about building Web apps with ASP.NET Core"]</p>

   
    <a href="?culture=hi-IN" class="btn btn-primary">Hindi</a>
    <a href="?culture=en-US" class="btn btn-secondary">English</a>
    <a href="?culture=ta-IN" class="btn btn-success">Tamil</a>
    <div>
        <br />

        <p>
            <h2>@Localizer["Build web apps fast with one stac"]k</h2>
            @Localizer["ASP.NET Core comes with everything you need to build web apps including Blazor,"]<br />
            @Localizer["a web UI framework for quickly creating fast, secure, and robust web apps that run anywhere."]
        </p>
    </div>
</div>

